@use "src/variables" as *;

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;

  .logo {
    display: flex;
    gap: 1rem;
    cursor: pointer;

    mat-icon {
      transform: rotate(180deg);
      color: $primary;
    }
  }

  .search {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    mat-form-field {
      width: 90%;
    }

    mat-form-feild ::ng-deep .mat-mdc-text-field-wrapper {
      max-height: 40px;
    }

    mat-form-field ::ng-deep .mat-mdc-form-field-bottom-align {
      display: none !important;
    }

    mat-form-field ::ng-deep .mat-mdc-form-field-infix {
      padding: 0;
      min-height: 40px;
      display: flex;
      align-items: center;
    }

    mat-form-field
      ::ng-deep
      .mat-mdc-text-field-wrapper
      .mat-mdc-form-field-flex
      .mat-mdc-floating-label {
      top: 19px;
    }

    mat-form-field ::ng-deep .mdc-floating-label--float-above {
      transform: translateY(-27px) scale(0.75) !important;
    }

    button {
      border-radius: 0.5rem;
    }
  }

  .header-end {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

::ng-deep .cdk-overlay-container .mat-mdc-menu-panel.notifications {
  width: 400px;
  height: 400px;
  max-width: none;
  overflow: hidden;

  & .mat-mdc-menu-content {
    padding: 1.5rem 1rem;
    height: 100%;

    h1 {
      font: inherit;
      font-size: 25px;
      font-weight: 400;
    }

    div.notification-message {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      gap: 1rem;

      div {
        display: flex;
        align-items: center;
      }

      & > div button:first-of-type mat-icon {
        color: $error;
      }

      & > div button:last-of-type mat-icon {
        color: $success;
      }
    }
  }
}

::ng-deep .cdk-overlay-container .mat-mdc-menu-panel.help-menu {
  width: 300px;
  max-width: none;

  & .mat-mdc-menu-content {
    padding: 1.5rem 1rem;
  }
}

::ng-deep .cdk-overlay-container .mat-mdc-menu-panel.account-settings {
  width: 250px;
  max-width: none;

  & .mat-mdc-menu-content {
    padding: 1.5rem 1rem;

    .wrapper {
      .mat-mdc-menu-item {
        min-height: 40px;
      }

      h3 {
        font: inherit;
        font-size: 13px;
        font-weight: 653;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
      }

      .account {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.5rem;

        .avatar {
          width: 40px;
          height: 40px;
          cursor: default;
        }

        div p {
          margin: 0;
        }

        div p:first-child {
          margin-top: 5px;
        }

        div p:last-child {
          font-weight: 200;
        }
      }
    }
  }
}
