<mat-toolbar>
  @if (!isSearchOpen) {
    <div
      class="logo"
      routerLink="/boards"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon>assessment</mat-icon>
      <h1>Trello</h1>
    </div>
  }

  <div class="search" [class.open]="isSearchOpen">
    @if (isSearchOpen) {
      <button mat-icon-button (click)="closeSearch()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Search</mat-label>

      <input
        type="text"
        matInput
        placeholder="Search boards..."
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        (focus)="autoTrigger.openPanel()"
      />

      <mat-icon matPrefix>search</mat-icon>

      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="openBoard($event.option.value)"
      >
        @for (board of filteredBoards; track board._id) {
          <mat-option [value]="board">
            {{ board.title }}
            <small class="workspace-name">
              ({{ getWorkspaceName(board) }})
            </small>
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    @if (!isSearchOpen) {
      <button mat-icon-button class="mobile-search-btn" (click)="openSearch()">
        <mat-icon>search</mat-icon>
      </button>
    }
  </div>
  @if (!isSearchOpen) {
    <div class="header-end">
      <button
        mat-icon-button
        matTooltip="Notifications"
        [matMenuTriggerFor]="notificationsMenu"
        (click)="readNotifications()"
      >
        <mat-icon
          [matBadge]="unreadNotifications"
          [matBadgeHidden]="unreadNotifications === 0"
          aria-hidden="false"
          >notifications_none</mat-icon
        >
      </button>
      <button mat-icon-button matTooltip="Help" [matMenuTriggerFor]="helpMenu">
        <mat-icon>help_outline</mat-icon>
      </button>
      <app-avatar
        matTooltip="Account"
        [matMenuTriggerFor]="accountMenu"
      ></app-avatar>
    </div>
  }
</mat-toolbar>

<mat-menu #notificationsMenu="matMenu" class="notifications">
  <ng-template matMenuContent>
    <h1>Notifications</h1>
    <mat-divider></mat-divider>

    @if (!isLoading) {
      @for (notification of notifications; track notification._id) {
        <div class="notification-message">
          <span>{{ notification.message }}</span>

          @if (
            notification.type === "WORKSPACE_INVITE" ||
            notification.type === "BOARD_INVITE"
          ) {
            <div>
              <button
                mat-icon-button
                matTooltip="Decline"
                (click)="declineInvite(notification._id)"
                clickStopPropagation
              >
                <mat-icon>close</mat-icon>
              </button>

              <button
                mat-icon-button
                matTooltip="Accept"
                (click)="acceptInvite(notification._id)"
                clickStopPropagation
              >
                <mat-icon>check</mat-icon>
              </button>
            </div>
          }

          <button
            mat-icon-button
            matTooltip="Actions"
            [matMenuTriggerFor]="actionsMenu"
            [matMenuTriggerData]="{ notification: notification }"
            clickStopPropagation
          >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      } @empty {
        <p>No notifications yet!</p>
      }
    } @else {
      <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
    }
  </ng-template>
</mat-menu>

<mat-menu #actionsMenu="matMenu">
  <ng-template matMenuContent let-notification="notification">
    <button
      mat-menu-item
      (click)="deleteNotification(notification?._id)"
      clickStopPropagation
    >
      <span>Delete</span>
      <mat-icon>delete</mat-icon>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #helpMenu="matMenu" class="help-menu">
  <h3>Need help?</h3>
  <p>
    Here you can manage tasks, move them between columns and track progress.
  </p>

  <mat-divider></mat-divider>

  <button mat-menu-item routerLink="/how-it-works">
    <mat-icon>help_outline</mat-icon>
    <span>How it works</span>
  </button>

  <button mat-menu-item routerLink="/contact-support">
    <mat-icon>contact_support</mat-icon>
    <span>Contact support</span>
  </button>
</mat-menu>

<mat-menu #accountMenu="matMenu" class="account-settings">
  <div class="wrapper">
    <h3>Account</h3>
    @if (user) {
      <div class="account">
        <app-avatar></app-avatar>
        <div>
          <p>{{ user.username }}</p>
          <p>{{ user.email }}</p>
        </div>
      </div>
    }

    <button mat-menu-item routerLink="/switch-accounts">
      <span>Switch accounts</span>
    </button>
    <button mat-menu-item routerLink="/manage-account">
      <span>Manage account</span>
    </button>
    <mat-divider></mat-divider>
    <h3>Trello</h3>
    <button mat-menu-item routerLink="/settings">
      <span>Settings</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="themesMenu" clickStopPropagation>
      <span>Themes</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="openFormModal()">
      <span>Create Workspace</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
    </button>
  </div>
</mat-menu>

<mat-menu #themesMenu="matMenu" class="themes-menu">
  <mat-radio-group
    [(ngModel)]="selectedTheme"
    (change)="applyTheme($event.value)"
  >
    <button
      mat-menu-item
      clickStopPropagation
      [class.active-theme]="selectedTheme === 'light'"
    >
      <mat-radio-button value="light">
        <img src="/assets/light-theme.svg" alt="light-theme" />
        Light Theme</mat-radio-button
      >
    </button>
    <button
      mat-menu-item
      clickStopPropagation
      [class.active-theme]="selectedTheme === 'dark'"
    >
      <mat-radio-button value="dark">
        <img src="/assets/dark-theme.svg" alt="dark-theme" />
        Dark Theme</mat-radio-button
      >
    </button>
  </mat-radio-group>
</mat-menu>
