.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 6rem;
    margin: 0;
  }

  h2 {
    margin: 0.5rem 0;
  }

  p {
    margin-bottom: 2rem;
    opacity: 0.7;
  }
}

@media (max-width: 576px) {
  .not-found {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
