@use "src/variables" as *;

.main-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 0;

  & > mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    color: var(--primary);
  }
  .info-wrapper {
    min-width: 0;
    flex: 1;

    .wrapper {
      display: flex;
      gap: 0.7rem;
      min-width: 0;

      h5 {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
      }

      button {
        mat-icon {
          font-size: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
    .isPrivate {
      display: flex;
      gap: 5px;
      margin: 0;

      mat-icon {
        font-size: 18px;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.description {
  margin-top: 1rem;
}

.delete-workspace {
  color: $error;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 3rem;
}

::ng-deep .cdk-overlay-container .mat-mdc-menu-panel.deleteMenu {
  padding: 0.5rem 1rem;
  max-width: 350px;

  h5 {
    font-size: 16px;
    text-align: center;
    line-height: normal;
  }

  button[mat-icon-button] {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  p {
    margin-top: 1rem;
    font-size: 18px;
  }

  ul {
    color: var(--text-main);
    padding-left: 1.5rem;
  }

  mat-form-field {
    width: 100%;
  }

  button[mat-flat-button] {
    width: 100%;
    border-radius: 8px;
    background-color: $error !important;
  }

  button[mat-flat-button]:disabled {
    background-color: rgb(235, 185, 185) !important;
  }
}

form {
  display: flex;
  flex-direction: column;

  mat-checkbox ::ng-deep .mdc-label {
    color: var(--text-main);
  }

  .actions {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;

    button {
      border-radius: 8px;
    }
  }
}

@media (max-width: 567px) {
  form mat-form-field {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  :host {
    width: 100%;
    h3 {
      font-size: 24px;
    }
    .main-wrapper {
      .wrapper {
        h5 {
          font-size: 20px;
        }
      }
    }

    form {
      width: 100%;
      mat-form-field {
        width: 75%;
      }
    }
  }
}
