form {
  width: 100%;

  div:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 1rem;

    button {
      width: 45%;
    }
  }

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    border-radius: 8px;
  }

  div:last-child {
    width: 100%;
    margin-top: 1rem;
    text-align: center;

    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
