form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media (max-width: 768px) {
  form {
    width: 90%;
  }
}

@media (max-width: 480px) {
  form {
    width: 100%;

    div {
      button {
        width: 100%;
      }
    }
  }
}
