:host {
  display: block;
  margin-bottom: 1.5rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
    }

    div {
      button {
        border-radius: 8px;
        margin: 0 0.5rem;
      }
    }
  }

  app-create-board {
    display: block;
    margin-top: 1rem;
  }
}
