<div class="wrapper">
  <h3>{{ workspace.name }} Workspace</h3>
  <div>
    <button
      mat-raised-button
      [routerLink]="['/', workspace._id, 'boards']"
      routerLinkActive="active"
    >
      <mat-icon>assessment</mat-icon>
      Boards
    </button>
    <button
      mat-raised-button
      [routerLink]="['/', workspace._id, 'members']"
      routerLinkActive="active"
    >
      <mat-icon>person</mat-icon>
      Members
    </button>
    @if (isAdmin) {
      <button
        mat-raised-button
        [routerLink]="['/', workspace._id, 'settings']"
        routerLinkActive="active"
      >
        <mat-icon>settings</mat-icon>
        Settings
      </button>
    }
  </div>
</div>
<app-boards [workspace]="workspace"></app-boards>
