app-header {
  position: fixed;
  width: 100%;
  z-index: 999;
}

mat-sidenav-container {
  position: absolute;
  top: 6%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1rem 0 2rem;

  mat-sidenav {
    padding: 3rem 0 0.5rem 0;
  }

  mat-sidenav-content {
    padding-top: 3rem;
    padding-bottom: 1rem;
    box-sizing: border-box;

    main {
      display: flex;
      justify-content: center;
      padding-left: 0;
    }

    main:has(.settings-title) {
      justify-content: start;
      padding-left: 5rem;
    }
  }
}
