@if (workspace) {
  <div class="header-wrapper">
    <h5>
      Collaboration <span>{{ workspace.members.length + "/10" }}</span>
    </h5>
    @if (isAdmin) {
      <button mat-flat-button (click)="inviteModal()">
        <mat-icon>group_add</mat-icon>
        Invite Workspace members
      </button>
    }
  </div>
  <div class="wrapper">
    <div>
      <h5>Workspace members ({{ workspace.members.length }})</h5>
      <p>
        Workspace members can view and join all Workspace visible boards and
        create new boards in the Workspace.
      </p>
    </div>
    <div>
      <h5>Workspace will be deleted</h5>
      <p>
        The workspace will be deleted if the last admin leaves the workspace.
      </p>
    </div>
    @if (isAdmin) {
      <div>
        <h5>Invite members to join you</h5>
        <div class="inner-wrapper">
          <p>
            Anyone with an invite link can join this free Workspace. You can
            also disable and create a new invite link for this Workspace at any
            time. Pending invitations count toward the 10 collaborator limit.
          </p>
          <button mat-button (click)="copyInviteLink()">
            <mat-icon>link</mat-icon>
            Invite with link
          </button>
        </div>
      </div>
    }
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Search by name</mat-label>
        <input
          type="search"
          matInput
          [formControl]="searchWorkspaceMembersByName"
        />
      </mat-form-field>
    </div>

    @if (!isLoadingMembers) {
      @for (member of filteredWorkspaceMembers; track member._id) {
        <div class="members">
          <div>
            @if (member.user) {
              <div class="avatar">
                {{ member.user.username.charAt(0).toUpperCase() || "" }}
              </div>
              <div class="member-info">
                <h5>{{ member.user.username }}</h5>
                <p>{{ member.user.email }}</p>
              </div>
            }
          </div>
          <div class="actions">
            <button
              mat-raised-button
              [matMenuTriggerFor]="viewBoardsMenu"
              [matMenuTriggerData]="{ member }"
            >
              View boards ({{ memberBoardsMap.get(member.user._id)?.length }})
            </button>
            <button
              mat-raised-button
              [matMenuTriggerFor]="roleMenu"
              [matMenuTriggerData]="{ member }"
              [disabled]="!isAdmin"
            >
              {{ member.role }}
            </button>

            @if (isAdmin) {
              <button
                mat-raised-button
                (click)="removeMemberFromWorkspace(member)"
              >
                <mat-icon>close</mat-icon>
                {{
                  member.role === "admin" && member.user._id === currentUser._id
                    ? "Leave"
                    : "Remove"
                }}
              </button>
            }

            @if (!isAdmin && member.user._id === currentUser._id) {
              <button
                mat-raised-button
                (click)="removeMemberFromWorkspace(member)"
              >
                <mat-icon>close</mat-icon>
                Leave
              </button>
            }
          </div>
        </div>
      }
    } @else {
      <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
}

<mat-menu #viewBoardsMenu="matMenu" class="viewMenu">
  <ng-template matMenuContent let-member="member">
    <h6>Workspace Boards</h6>
    <button mat-icon-button matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>
    @if (!isLoadingMemberBoards) {
      @for (
        board of memberBoardsMap.get(member.user._id) ?? [];
        track board._id
      ) {
        <div class="wrapper">
          <div
            class="bg"
            [style.backgroundImage]="'url(' + board.background + ')'"
          ></div>
          <p>{{ board.title }}</p>
        </div>
      } @empty {
        <p>There are currently no boards</p>
      }
    } @else {
      <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
    }
  </ng-template>
</mat-menu>

<mat-menu #roleMenu="matMenu" class="roleMenu">
  <ng-template matMenuContent let-member="member">
    <button
      mat-menu-item
      (click)="setWorkspaceMemberRole(member, 'admin')"
      clickStopPropagation
      [class.selected]="member.role === 'admin'"
    >
      Admin
    </button>
    <button
      mat-menu-item
      (click)="setWorkspaceMemberRole(member, 'member')"
      clickStopPropagation
      [class.selected]="member.role === 'member'"
    >
      Member
    </button>
  </ng-template>
</mat-menu>
