@use "src/variables" as *;

:host {
  width: 85%;

  .header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h5 {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin: 0;

      span:last-child {
        display: inline-block;
        line-height: normal;
        border-radius: 1rem;
        background-color: var(--primary);
        color: $white;
        padding: 5px;
        font-size: 16px;
      }
    }

    button {
      border-radius: 8px;

      mat-icon {
        color: $white;
      }
    }
  }

  .wrapper {
    width: 100%;

    div {
      border-bottom: 1px solid var(--text-main);
      margin-bottom: 1rem;

      .inner-wrapper {
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          width: 60%;
        }

        button {
          border-radius: 8px;
        }
      }
    }

    .members {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding-bottom: 1rem;

      div:first-of-type {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-bottom: none;
        margin: 0;
      }

      .avatar,
      .member-info,
      .actions {
        border-bottom: none;
        margin: 0;
      }

      .avatar,
      .member-info p,
      .member-info h5 {
        margin: 0;
      }

      .actions {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.3rem;

        button {
          border-radius: 8px;
          width: 110px;
          max-width: 150px;
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          white-space: nowrap;
          overflow: hidden;

          & > ::ng-deep * {
            flex-shrink: 0 !important;
          }
        }

        button ::ng-deep span,
        button ::ng-deep .mat-button-wrapper {
          overflow: hidden;
          text-overflow: ellipsis;
        }

        button ::ng-deep mat-icon {
          margin: 0;
          width: 30%;
        }
      }

      .member-info h5 {
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .member-info p {
        font-size: 14px;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

::ng-deep .cdk-overlay-container .mat-mdc-menu-panel.viewMenu {
  padding: 1rem;
  width: 300px;
  height: 300px;

  .mat-mdc-menu-content {
    padding: 0;
    text-align: center;
  }

  h6 {
    font-size: 14px;
    line-height: normal;
  }

  p {
    margin-top: 1rem;
  }

  button {
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0;

    &:first-of-type {
      margin-top: 1.5rem;
    }

    .bg {
      width: 30px;
      height: 30px;
      background-position: center center;
      background-size: cover;
    }

    p {
      font-size: 14px;
      text-align: left;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .spinner-wrapper {
    mat-spinner {
      width: 65px !important;
    }
  }
}

::ng-deep .cdk-overlay-container .mat-mdc-menu-panel.roleMenu {
  button {
    border: 1px solid transparent;
  }
  button.selected {
    border-left-color: var(--primary);
    background-color: $primary-hover;
  }
}

@media (max-width: 600px) {
  :host {
    .header-wrapper {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }

    .wrapper {
      .inner-wrapper {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1rem;
      }
    }
  }
}

@media (max-width: 650px) {
  .wrapper {
    .actions {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  :host {
    h5 {
      font-size: 24px !important;
    }

    .wrapper {
      p {
        font-size: 14px !important;
      }

      .member-info h5 {
        font-size: 16px !important;
      }
    }
  }
}
