@use "src/variables" as *;

:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .accounts-wrapper {
    margin-bottom: 5rem;
    width: 30%;

    h3 {
      text-align: center;
    }

    .account-card {
      box-sizing: border-box;
      width: 100%;
      background-color: $primary-hover;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;

      .account {
        display: flex;
        align-items: center;
        gap: 1rem;

        div:last-of-type {
          width: 200px;
          overflow: hidden;

          span {
            display: block;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }

      p {
        margin: 0;
      }

      .actions {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1245px) {
  .accounts-wrapper {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .accounts-wrapper {
    width: 70% !important;
  }
}

@media (max-width: 567px) {
  .accounts-wrapper {
    width: 90% !important;
  }
}

@media (max-width: 450px) {
  .accounts-wrapper {
    .account-card {
      .account {
        div:last-of-type {
          width: 140px !important;
        }
      }
    }
  }
}
