:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    width: 30%;

    mat-form-field {
      margin-bottom: 5px;
    }

    h2 {
      text-align: center;
    }

    p {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 1300px) {
  form {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  form {
    width: 80% !important;
  }
}
