<aside class="sidebar">
  <mat-list>
    <mat-list-item mat-list-item>
      <mat-icon matListItemIcon>assessment</mat-icon>
      <span matListItemTitle>Boards</span>
    </mat-list-item>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>view_quilt</mat-icon>
        <span class="title">Templates</span>
        <span class="spacer"></span>
      </mat-expansion-panel-header>

      <mat-list>
        @for (template of boardTemplates; track template) {
          <mat-list-item mat-list-item>{{ template }}</mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>

    <mat-divider></mat-divider>

    <h5>Workspaces</h5>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-icon>dashboard</mat-icon>
        <span class="title">Workspace</span>
        <span class="spacer"></span>
      </mat-expansion-panel-header>

      <mat-list>
        <mat-list-item mat-list-item>
          <mat-icon matListItemIcon>assessment</mat-icon>
          <span matListItemTitle>Boards</span>
        </mat-list-item>
        <mat-list-item mat-list-item>
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle>Members</span>
        </mat-list-item>
        <mat-list-item mat-list-item>
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>Settings</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-list>
</aside>
