@use "src/variables" as *;

aside {
  mat-list-item,
  mat-expansion-panel {
    margin: 5px 0;

    mat-icon {
      color: var(--text-main);
    }

    span {
      color: var(--text-main);
    }
  }

  mat-list-item:hover,
  .mat-expansion-panel:not(.mat-expanded)
    .mat-expansion-panel-header:not([aria-disabled="true"]):hover,
  .active {
    cursor: pointer;
    color: var(--primary);
    background-color: $primary-hover;
    border-radius: 12px;

    span {
      color: var(--primary);
    }

    mat-icon {
      color: var(--primary) !important;
    }

    ::ng-deep .mat-expansion-indicator svg {
      fill: var(--primary);
    }
  }

  .mat-expansion-panel:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }

  .mat-expansion-panel-header {
    padding: 0 24px 0 16px;
    font-weight: 400;

    mat-icon {
      color: var(--text-main);
    }

    ::ng-deep .mat-content {
      gap: 1rem;
    }
  }

  .mat-expansion-panel.mat-expanded {
    background-color: $primary-hover;

    .mat-expansion-panel-header {
      color: var(--primary);
    }

    ::ng-deep .mat-expansion-indicator svg {
      fill: var(--primary);
    }

    mat-icon {
      color: var(--primary);
    }

    mat-list {
      .active,
      mat-list-item:hover {
        color: $white;

        span {
          color: $white;
        }

        mat-icon {
          color: $white !important;
        }
      }
    }
  }

  p {
    padding-left: 1rem;
    margin-top: 0.5rem;
    font-size: 14px;
  }

  mat-divider:first-of-type {
    margin-bottom: 2rem;
  }

  h5 {
    margin: 0;
    padding: 0 12px;
    font: initial;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
}
