@use "variables" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
  color: $text-main;
}

button[mat-flat-button] > span {
  color: $white;
}

.avatar {
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}
