@use "variables" as *;
@use "@angular/material" as mat;

@include mat.core();

:root {
  --text-main: #3c4858;
  --bg-main: #faf9fd;
  --board-hover: whitesmoke;
  --primary: #0052cc;
}

$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

.light-theme {
  @include mat.all-component-themes($light-theme);
  --text-main: #3c4858;
  --bg-main: #faf9fd;
  --board-hover: whitesmoke;
  --primary: #0052cc;
}

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
    ),
  )
);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  --text-main: #a1a1a1;
  --bg-main: #121316;
  --board-hover: #1c1d1f;
  --primary: #0052cc;
}

html {
  @include mat.all-component-themes($light-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-main);
}

body:has(.invite-wrapper) {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul,
li {
  color: var(--text-main);
}

button[mat-flat-button] > span {
  color: $white;
}

button[mat-flat-button]:not(:disabled) {
  background-color: var(--primary) !important;
}

button[mat-button] > span,
button[mat-raised-button] > span {
  color: $primary;
}

.avatar {
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: $white;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}
