$text-main: #3c4858;
$text-light: #a1a1a1;
$white: #fff;
$bg-main: #faf9fd;
$semi-dark: #333;
$primary: #0052cc;
$accent: #d9a50b;
$success: #58bd7c;
$error: #f44336;
$warn: #ff9800;
$info: #2196f3;
$primary-hover: #0066ff40;
$box-shadow:
  0 10px 30px -12px rgba($semi-dark, 0.42),
  0 4px 25px 0 rgba($semi-dark, 0.12),
  0 8px 10px -5px rgba($semi-dark, 0.2);
