:host {
  width: 40%;

  form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 0.5rem;
    }

    div {
      button {
        width: 30%;
      }
    }
  }
}

@media (max-width: 1350px) {
  :host {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  :host {
    width: 75%;
  }
}

@media (max-width: 567px) {
  :host {
    width: 90%;
  }
}

